.logo {
  width: 100% !important;
  max-width: 50px !important;
  height: auto !important;
}

/* Contenedor centrado */
.contenedor-promociones {
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Ordena los elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Centra el texto */
}

/* Tarjetas de la sección Promociones */
.promocion-card {
  display: flex;
  flex-direction: column; /* Apilar contenido verticalmente */
  width: 200px; /* Ancho fijo solo para estas tarjetas */
  background-color: white; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  margin: 10px; /* Espaciado entre las tarjetas */
  text-align: center; /* Centrar el texto */
}

.promocion-card:hover {
  transform: scale(1.05); /* Animación al pasar el ratón */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.promocion-card img {
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
  height: 150px; /* Altura fija para imágenes */
  width: 100%; /* Imagen ocupa todo el ancho */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.promocion-card .card-title {
  font-size: 1.3rem;
  color: #007bff; /* Azul moderno */
  margin-bottom: 10px;
}

.promocion-card .card-text {
  color: #555; /* Gris suave */
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.promocion-card .card-body {
  height: 130px
}

