/* Definición de Variables de Color */
:root {
  --color-negro: #000000;              
  --color-gris-oscuro-1: #191919;      
  --color-gris-oscuro-2: #707070;      
  --color-gris-claro-1: #AEAEAE;       
  --color-gris-claro-2: #CCCCCC;       
  --color-gris-medio-1: #808080;      
  --color-gris-medio-2: #5A5A5A;       
  --color-gris-neutro: #333333;        
  --color-primario: #007BFF;           
  --color-primario-hover: #0056b3;     
  --color-body-bg: var(--color-gris-claro-2);  
  --color-header-bg: var(--color-gris-oscuro-1); 
  --color-texto-principal: var(--color-gris-oscuro-1); 
  --color-texto-secundario: var(--color-gris-medio-1); 
  --color-fondo-tarjeta: #ffffff;       
  --color-borde-input: var(--color-gris-claro-1);  
}

/* Estilos Globales */
body {
  background: linear-gradient(120deg, #e0eafc, #cfdef3); 
  font-family: 'Poppins', sans-serif; 
  color: var(--color-texto-principal);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar desplazamiento horizontal */
  margin-left: 80px; /* Espacio para el menú compacto */
  transition: margin-left 0.3s ease;
}

/* Estilo del Menú Lateral */
#menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px; 
  height: 100%;
  background: linear-gradient(180deg, #343a40, #1c1f24); 
  transition: width 0.3s ease;
  z-index: 1030;
  overflow: hidden;
  border-right: 2px solid #444;
}

#menu:hover {
  width: 250px; 
}

#menu .nav-link {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  color: var(--color-gris-claro-1);
  padding: 12px 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu .nav-link i {
  font-size: 1.5rem; 
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

#menu .nav-link span {
  display: none; 
  flex-grow: 1; 
  text-align: left; 
}

#menu:hover .nav-link span {
  display: inline; /* Mostrar texto cuando el menú esté expandido */
}

#menu:hover ~ body {
  margin-left: 260px; 
}

#menu .nav-link:hover {
  background-color: var(--color-gris-medio-2); 
  color: #fff; 
}

/* Estilo específico para "Cerrar Sesión" */
#menu #cerrar-sesion {
  color: var(--color-gris-claro-1);
  font-weight: bold;
}

#menu #cerrar-sesion:hover {
  color: #fff;
  background-color: var(--color-gris-medio-2);
}

#menu #cerrar-sesion span {
  display: none; 
  margin-left: 5px;
}

#menu:hover #cerrar-sesion span {
  display: inline;
}

/* Elementos Generales */
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: var(--color-primario);  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-primario-hover);  
}
